@page "/ListVehicle"
@using SpenSoft.DanBeamNG.Components

<h1 class="page-title text-center">All Vehicles</h1>
<br />

@if (VehicleList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="flex-container">
        <div>
            <a href="@($"AddVehicle")" class="btn btn-success btn-sm"><i class="fa-solid fa-plus" /> Add Vehicle</a>
        </div>
        <div>Vehicle Count: @VehicleList.Count</div>
    </div>
    <br />
    <br />
    <div class="row">
        @foreach (var v in VehicleList)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <RenderComponent><VehicleCard vehicle="@v" deleteEventDelegate="deleteEventHandler" background="lightcyan"/></RenderComponent>
            </div>
        }
    </div>
}

<br />
