@page "/DeleteVehicle/{ID}"

@if (Deleted == true)
{
    @if (Vehicle != null)
    {
        <h3 class="page-title text-center">Deleted Vehicle: @Vehicle.Name</h3>
        <br />
        <br />
    }
    <hr />
}
else
{
    <div class="alert @StatusClass">
        @Message
    </div>
}

<a href="@("ListVehicle")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Return to List</a>
<a href="/" class="btn btn-primary btn-sm"><i class="fa-solid fa-home"></i> Home</a>
<br />
