@* 
<div style="width: 90%; margin-left: 0; margin-right: 0; margin-bottom: 0; margin-top: .5rem;">
    <div class="text-left" style="width: @LabelWidth;">@Label</div>
    <div class="text-left" style="width: @InputWidth;">
        <InputText @bind-Value="@Data" placeholder="@Placeholder" class="wide100p" />
    </div>
</div>
 *@
<div style="width: 90%; display: flex; flex-direction: row; align-items: center; margin-top: .5rem; margin-left: auto; margin-right: auto;">
    <div style="width: @LabelWidth; text-align: left;">
        @Label
    </div>
    <div style="width: @InputWidth; text-align: left;">
        <InputText @bind-Value="Data" placeholder="@Placeholder" class="wide100p" style="height: 38px"/>
    </div>
</div>