
<div class="d-flex" style="width: 90%; margin-left: 0;margin-right: 0;margin-bottom: 0;margin-top: .5rem;">
    <div class="text-left" style="width: @LabelWidth;">@Label</div>
    <div class="text-left" style="width: @InputWidth;">
        <InputText @bind-Value="@Data" placeholder="@Placeholder" />
    </div>
</div>
