@page "/ViewBody/{ID}"


<h1 class="page-title  text-center">View a Body Style</h1>
<br />
<br />

@if (bodyStyle != null)
{
    <div class="form-group row mb-2">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-8">
            @bodyStyle.Name
        </div>
    </div>
    <br />
}


<hr />

<a href="@($"EditBody/{ID}")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Edit </a>
<a href="@("ListBody")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Return to List</a>
<a href="/" class="btn btn-primary btn-sm"><i class="fa-solid fa-home"></i> Home</a>
<br />
