@page "/"

<PageTitle>BeamNG Selector</PageTitle>

<div class="text-center"><h1>Dan's BeamNG Selector</h1></div>

<div class="text-center"><h3>Welcome to Dan's BeamNG Selector application. This is based off the BeamNG application version 0.32.5.0.</h3></div>

